* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  /* TODO: 스크롤 임의 설정 */
  height: 2000px;
}

a {
  color: inherit;
  text-decoration: none;
}
